.background-album-div {
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    background: black;
}

.display-album-data {
    width: 650px;
    height: auto;
    margin: auto;
    /* margin-top: 20px; */
    background: gray;
    color: white;
    border-radius: 10px;
    border: 1px solid white;
}

.display-album-data > img {
    width: 200px;
}

.show-song-list {
    margin-top: 5px;
    margin-left: 20px;
    margin: 20px;
    border: 1px solid white;
    text-align: left;
    border-radius: 7px;
}

.show-song-list > p {
    margin-left: 25px;
    font-size: 24px;
}