.display-album-main-div {
    width: 300px;
    height: 400px;
    background-color: aqua;
    margin-top: 10px;
    border: 1px solid black;
}

.display-album-main-div > p {
    font-size: 14px;
}

.display-album-main-div > img {
    width: 70%;
}