.main-div-for-filters {
    /* border: 1px solid springgreen; */
    width: 80%;
    margin: auto;
    margin-top: 10px;
    height: 25px;
    display: flex;
    
}

.genres-selector {
    height: 25px;
    margin-left: 75%;
}

.year-selectore {
    margin-left: 25px;
}

.main-div-for-filters > select {
    border: 1px solid white;
    background: gray;
    border-radius: 5px;
    font-size: 14px;
    color: white;
}